#header
{
	background:red;
	height: 4rem;
}

#footer
{
	text-align:center; 
	background: rgb(128, 128, 128); 
	height:3rem;
}

#headerleft
{
	float:left;
}

#headerright
{
	float:right;
	font-family:Comis sans MS;
	font-size:20;
}

.hobby
{
	font-family: calibri;
	font-size: 24;
	
	border-left-color: rgb(200,200,255);
	border-left-width: 5px;
	border-left-style: solid;
	
	padding: 5px;
	background: rgb(230,230,255);
}

.normaltext
{
	font-family: calibri;
	font-size: 16;
	color: rgb(100,100,100)
}

.allmenus
{
	display:none;
	border-bottom:1px solid black;
}

#projects
{
	background: orange;
}

#hobbies
{
	background: green;
}

h1
{
	font-family: Comic sans MS;
	font-size:24;
}
h2
{
	font-family: Comic sans MS;
	font-size:24;
}
h3
{
	font-family: Comic sans MS;
	font-size:24;
}

img
{
	border-width:5px;
	border-style: solid;
	border-color: black;
}